<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>View User</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>View User</h1>
<a th:href="@{/users}">Back to Users List</a>
<br/><br/>
<div th:if="${user}">
  <table border="0">
    <tr>
      <td>ID</td>
      <td>:</td>
      <td th:utext="${user.id}">...</td>
    </tr>
    <tr>
      <td>Firstname</td>
      <td>:</td>
      <td th:utext="${user.firstname}">...</td>
    </tr>
    <tr>
      <td>Lastname</td>
      <td>:</td>
      <td th:utext="${user.lastname}">...</td>
    </tr>
    <tr>
      <td>Telephone</td>
      <td>:</td>
      <td th:utext="${user.telephone}">...</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>:</td>
      <td th:utext="${user.email}">...</td>
    </tr>
    <tr>
      <td>Username</td>
      <td>:</td>
      <td th:utext="${user.username}">...</td>
    </tr>
  </table>
  <br/><br/>
  <div th:if="not ${allowDelete}">
    <a th:href="@{/users/{userId}/edit(userId=${user.id})}">Edit</a> |
    <a th:href="@{/users/{userId}/delete(userId=${user.id})}">Delete</a>
  </div>
  <form th:if="${allowDelete}" th:action="@{/users/{userId}/delete(userId=${user.id})}" method="POST">
    Delete this contact? <input type="submit" th:value="Yes" />
  </form>
</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
</body>
</html>